.DS_Store
data/
reports/

# Byte-compiled / optimized / DLL files
**/__pycache__

# Distribution / packaging
*.egg-info
dist/
build/

# Environments
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation
docs/build

# Unit test / coverage reports
.coverage
out/
/.idea/

# Tutorials (docs)
**/mock_data.csv
**/mock_data.npy
**/mock_data_output/
