.DS_Store
data/
reports/

# Byte-compiled / optimized / DLL files
**/__pycache__

# Distribution / packaging
*.egg-info
dist/
build/

# Environments
.venv

# Editor
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation
docs/build

# Unit test / coverage reports
.coverage
out/
/.idea/

# Tutorials (docs)
docs/source/tutorials/*.toml*
docs/source/tutorials/*.csv*
docs/source/tutorials/*.npy*
**/mock_data.csv
**/mock_data.npy
**/mock_data_output/
